.firstbar .item_black, .firstbar .item_red, .topbar .firstbar {
    font-size: 15px;
    display: flex;
}
.firstbar .item_black .item:hover a {
    color:#000;
}

.firstbar .item_red, .secondbar .item:hover, .topbar a:hover {
    transition: .1s;
    color: #fff;
}

.firstbar .item img {
    height: 1.1em;
    margin: auto;
    padding: 0 0.5em;
}

h1, h2, h3, h4, h5, h6, p {
    white-space: pre-line;
}
b, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.AllAboutTytax_obj .module, .AllAboutTytax_obj .module2, .SlowShow, .sub .sub_rest {
    animation-name: slowOn;
    animation-duration: 1s;
}
@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Regular.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: Fira;
    src: url(../fonts/FiraSans-SemiBold.woff2) format('woff2');
    font-display: swap;
}
.topbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    padding: 1em 0;
    box-shadow: 5px 1px 50px rgb(36, 36, 36, 0.5);
}

.topbar .logotype {
    padding-left: 1.5em;
    margin-right: 3em;
}

.topbar .s_cart {
    width:3.5em;
}

.topbar a {
    color: #000;
    text-decoration: none;
}
.firstbar .item_black {
    padding: 0.5em 0 0 4.5em;}

.item_black .item {
    cursor: pointer;
    padding: 0 10px 0 0;
    transition: .5s;
}

.firstbar .item_big, .pagination .spacer, .secondbar .item_responsive {
    flex-grow: 1;
}
.firstbar .item_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 33px 0;
    border-color: transparent #eb161e transparent transparent;
}
.firstbar .item_red {
    padding: 0.5em 1.5em 0.5em 1em;
    background-color: #eb161e;
    cursor: pointer;
    align-items: baseline;
}
.item_red .spacer {
    width: 30px;
}
.redHoverSelect {
    background: #eb161e;
    border: none;
    color: #fff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    appearance: none;
    padding: 0 0 0 5px;
    cursor: pointer;
}
.text-fan, hr {
    color: #5c5c5c;
}
.max-img, .mini-img, .text-fan, .text-toleft, .video-two {
    padding: 40px 0 0;
}
.redHoverSelect select {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}
.topbar .secondbar {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    padding: 1em 2.5em 0;
}

.secondbar .item, .secondbar .item-cartmenu {
    font-size: 14px;
    padding: 0 10px;
    transition: .5s;
    cursor: pointer;
}
.secondbar .item {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
}

.secondbar .item_app {
    margin-left: 4em;
}

.secondbar .item_app img {
    max-width: 7em;
}

.secondbar .item:hover {
    transition:.3s;
    font-size: 105%;
    border-bottom: #000 solid 1px;
    padding-bottom: 0.3em;
}

.secondbar .item:hover a {
    color: #000;
}

.secondbar .main-item {
    text-transform: uppercase;
    color: #000;
    text-align:center;
    font-weight: bold;
    margin: 0 1em 0 1em;
    letter-spacing: 0.25em;
}

.secondbar .main-item:hover {
    transition:.3s;
    font-size: 115%;
    border-bottom: #000 solid 1px;
    padding-bottom: 0.5em;
}

.secondbar .main-item:hover a {
    color: #000;
}

.secondbar .cartHolder {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}
.moreimages, .video-two {
    justify-content: center;
}
.secondbar .item-cartmenu {
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    font-size: 1.3em;
}
.secondbar .item-cartmenu:hover {
    background-color: #d9d9d9;
    transition: .5s;
}
.backtotop img, .burger_menu, .mobileMenuHolder, .new_mobiletop, .tabletMenuHolder, .video_movieselector_mobile {
    display: none;
}
.capcha, .contact_form .one, .contact_form .two, .contactdouble, .footer .main, .footer_sticky .main, .video-two {
    display: flex;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Fira;
}
p {
    text-align: center;
    width: 70%;
    font-family: Oxygen;
    margin: auto;
    padding: 0;
}
.title, a, b {
    font-family: 'Montserrat', sans-serif;
}
b {
    display: block;
}
a {
    color: #eb161e;
}
a:hover {
    color: #9e2b2b;
}
.title {
    font-size: 2vw;
    text-align: center;
    margin: 40px 0 0;
}
.text h2, .text h3, .text-fan {
    font-size: 16px;
    text-align: center;
}
.title h1 h2 h3 h4 h5 h6 {
    font-weight: 500;
    font-family: Fira;
    font-size: 2vw;
    text-align: center;
    margin: 0;
}
.productstile p, .text {
    text-align: center;
    width: 70%;
    font-family: Oxygen;
    margin: auto;
    padding: 40px 0 0;
}
.TytaxPartSkipper .main, .leftandright .title, .text b {
    font-family: Fira;
}
.CheckoutForm .name, .footer_obj .rest, .text h2, .text h3, .text p, .text-fan, .text-toleft, .video-two .title {
    font-family: Oxygen;
}
.text h2, .text h3 {
    font-weight: 500;
    width: 70%;
    margin: auto;
    padding: 0;
}
.text-toleft {
    margin: auto;
    width: 30%}
.text-fan {
    width: 70%;
    margin: auto;
    border-radius: 15px;
}
.text a {
    color: #eb0000;
}
hr {
    width: 50%;
    margin: 40px auto auto;
}
.mini-img {
    margin: auto;
    text-align: center;
    width: 40%;
    height: auto;
}
.max-img img, .mini-img img {
    border-radius: 15px;
    width: 100%;
    height: 100%}
.max-img {
    margin: auto;
    text-align: center;
    width: 73%;
    height: auto;
}
.video-two {
    width: 100%;
    height: auto;
}
.video-basiciframe, .video-bigger {
    padding: 40px 0 0;
    width: 55%;
    margin: auto;
}
.video-two .container {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 20px;
}
.AllAboutTytaxContainer a, .leftandright a, .options-carusel a, .video-two .container a {
    color: #000;
    text-decoration: none;
}
.video-two .title {
    font-size: 12px;
    padding: 0 20px 20px;
    margin: 0;
}
.video-two .video {
    width: 100%;
    height: auto;
}
.option_left .video video, .option_right .video video, .video-two .video video {
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.video-bigger {
    height: auto;
}
.video-bigger video {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.video-iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.centralbutton, ol, ol li {
    padding-top: 40px;
}
.video-iframe embed, .video-iframe iframe, .video-iframe object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.contactdouble {
    margin: 40px 40px 0;
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .13);
    border-radius: 10px;
}
.contactdouble .minitext {
    font-family: Fira;
    text-align: center;
    padding-bottom: 40px;
}
.contactdouble .image {
    width: 100%;
    margin: 40px;
    align-self: center;
}
.contactdouble .image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.contact_form {
    margin: auto;
    width: 80%;
    height: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
}
.footer, .footer_sticky {
    margin: 40px 0 0;
    width: 100%;
    height: fit-content;
}
.footer, .footer_sticky, .productstile {
    background-color: #f1f1f1;
}
.contact_form .input, .contact_form textarea {
    flex-grow: 1;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    font-family: Fira;
    padding: 20px;
    margin-bottom: 20px;
}
.contact_form button {
    font-family: Fira;
    font-size: 22px;
    color: #fff;
    background-color: #eb161e;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 1s;
}
.contact_form button:hover {
    background-color: #9e2b2b;
    transition: 1s;
}
.contact_form .spacer {
    width: 20px;
}
.contact_form .button {
    text-align: center;
}
.contact_form .firsttext {
    font-family: Fira;
    font-size: 22px;
    margin-bottom: 40px;
}
.capcha {
    flex-grow: 1;
    width: 100%}
.footer_obj, .footer_spacer {
    flex-direction: column;
    display: flex;
}
.capcha img {
    height: 58px;
    border-radius: 10px;
}
.capcha button {
    height: 58px;
    text-align: center;
    padding: 0 10px;
    color: #fff;
}
.capcha button img {
    width: 32px;
    border-color: #fff;
}
.footer_sticky {
    color: #6f6e6e;
    position: fixed;
    bottom: 0;
}
.footer hr, .footer_sticky hr {
    margin: 15px 10%;
    color: #6f6e6e;
}
.footer .otherway, .footer_sticky .otherway {
    font-family: Oxygen;
    padding-left: 10%}
.footer .otherway a, .footer_sticky .otherway a {
    color: #eb161e;
    text-decoration: none;
}
.footer .otherway a:hover, .footer_sticky .otherway a:hover {
    color: #9e2b2b;
    text-decoration: underline;
}
.footer {
    color: #6f6e6e;
}
.footer_spacer {
    width: 10%}
.footer_obj {
    padding-bottom: 30px;
    width: 16%}
.footer_mini_obj a:visited, .footer_obj a, .footer_obj a:visited {
    font-family: Oxygen;
    color: #6f6e6e;
    text-decoration: none;
}
.footer_obj .title {
    font-size: 16px;
    text-align: left;
    font-family: Fira;
    cursor: default;
}
.footer_mini_obj:hover, .footer_obj .rest:hover, .scart_title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footer_mini_obj {
    padding-right: 50px;
    padding-bottom: 30px;
    font-family: Oxygen;
}
.footer_mini_obj a {
    font-family: Oxygen;
    text-decoration: none;
    color: #6f6e6e;
}
.video-movieselector {
    width: 55%;
    margin: auto;
    display: flex;
    overflow: scroll;
}
.video-movieselector .item {
    padding: 15px;
}
.video-movieselector .item:hover {
    background-color: #e8e8e8;
    border-radius: 15px;
    cursor: pointer;
}
.video-movieselector .title {
    font-family: Oxygen;
    font-size: 14px;
    text-align: center;
    align-self: baseline;
}
.price {
    width: 55%;
    margin: auto;
    font-family: Fira;
    text-align: center;
}
.price select {
    font-family: Fira;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border-color: #f1f1f1;
    color: #6f6e6e;
}
.price .longselect {
    width: 50%}
.price .content {
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    color: #6f6e6e;
    border-radius: 15px;
    padding: 25px;
}
.button, .button-red {
    width: 55%;
    margin: auto;
    font-family: Fira;
    text-align: center;
    cursor: pointer;
}
.button a, .button-red a, .custom-button a {
    text-decoration: none;
    color: #fff;
}
.button .content, .button-red .content {
    margin-top: 40px;
    background-color: #eb161e;
    color: #fff;
    border-radius: 15px;
    padding: 25px;
    font-size: 32px;
}
.centralbutton, .productstile .buttons, .productstile-negativ .buttons {
    font-size: 24px;
    width: 100%;
    cursor: pointer;
}
.button .content:hover, .button-red .content:hover, .custom-button:hover, .leftandright .button:hover {
    background-color: #9e2b2b;
}
.button .content a, .button-red .content a, .option_left a, .option_right a, .productstile a, .productstile-negativ a {
    text-decoration: none;
}
.productstile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin-top: 40px;
}
.productstile .subtitle, .productstile b, .productstile-negativ .subtitle {
    text-align: center;
    font-family: Fira;
}
.productstile h1, h2, h3, h4, h5, h6 {
    font-family: Fira;
    font-size: 2vw;
    text-align: center;
}
.productstile .buttons {
    display: flex;
    font-family: Oxygen;
    color: #eb161e;
}
.centralbutton {
    font-family: Oxygen;
    color: #eb161e;
    text-align: center;
}
.centralbutton:hover {
    text-decoration: underline;
    color: #9e2b2b;
}
.buttons .a {
    padding: 40px 40px 0;
    flex-grow: 1;
    text-align: right;
}
.AllAboutTytax_obj .module2 a:hover, .TytaxPartMenu .select:hover, .buttons .a:hover, .buttons .b:hover, .magicbutton:hover {
    text-decoration: underline;
}
.buttons .b {
    padding: 40px 40px 0;
    flex-grow: 1;
    text-align: left;
}
.productstile-negativ {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding-bottom: 40px;
    margin-top: 40px;
}
.productstile-negativ .buttons {
    display: flex;
    font-family: Oxygen;
    color: #bdccec;
}
.moreimages {
    margin-top: 40px;
    display: flex;
    width: 100%}
.moreimages .title {
    text-align: center;
    font-size: 12px;
    font-family: Oxygen;
    margin-bottom: 20px;
}
.moreimages .container {
    text-align: center;
    margin: 0 10px;
}
.moreimages img {
    width: 400px;
    height: auto;
    border-radius: 15px;
    margin: 0 10px;
}
.videofull {
    width: 100%;
    margin: 40px 0 0;
}
.leftandright .video video, .videofull video {
    width: 100%}
.leftandright {
    margin: 40px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftandright .container-text {
    width: 30%;
    padding: 0 40px;
    font-family: Oxygen;
    text-align: center;
}
.leftandright .video, .leftandright .video-border {
    width: 30%}
.leftandright .video-border img, .leftandright .video-border video {
    width: 100%;
    border-radius: 15px;
}
.leftandright .button {
    font-family: Oxygen;
    margin-top: 20px;
    background-color: #eb161e;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
}
.leftandright .button a {
    color: #fff;
    text-decoration: none;
}
.scart {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.scart_empty, .scart_item {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
}
.scart_empty {
    text-align: center;
    font-family: Oxygen;
}
.scart_title, .scart_title .text {
    font-family: Fira;
    font-size: 16px;
}
.scart_item {
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
}
.scart_item .image {
    width: 120px;
    height: auto;
    margin: 10px;
}
.scart_item .image img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}
.scart_title {
    flex-grow: 1;
    height: 100%}
.scart_title .text {
    text-align: left;
    align-self: center;
    width: 100%;
    padding: 0;
}
.scart_item .howmany {
    width: 5%;
    height: auto;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
.scart_item .howmany input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: none;
    font-family: Oxygen;
    font-size: 14px;
}
.scart_item .delete {
    font-family: Oxygen;
    align-self: center;
    padding: 0 2%}
.scart_item .delete:hover {
    color: red;
    cursor: pointer;
}
.lang_selector {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0, .3);
    top: 0;
    left: 0;
}
.lang_options {
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.backtotop, .contactPop {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.lang_options .content {
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.CheckoutForm, .buySelect {
    margin: 0 30%}
.CheckoutForm hr {
    border: none;
}
.CheckoutForm .otherShipment {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.otherShipment .name {
    font-family: Oxygen;
    margin-left: 10px;
}
.CheckoutForm .checkbox {
    width: 32px;
    height: 32px;
    text-align: left;
}
.CheckoutForm .input {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background: 0 0;
}
.CheckoutForm input, .CheckoutForm select, .CheckoutForm textarea {
    font-size: 22px;
    border: none;
    width: 100%}
.CheckoutForm textarea {
    font-family: Oxygen;
}
.CheckoutForm input {
    background: 0 0;
}
.CheckoutForm select {
    font-family: Oxygen;
    padding: 0;
    background: 0 0;
}
.buySelect .btn {
    width: 100%;
    text-align: left;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.buySelect .btn:hover {
    border: 1px solid #78acff;
    background-color: #e6efff;
    cursor: pointer;
}
.buySelect .name {
    font-family: Fira;
    font-size: 24px;
}
.buySelect .text {
    font-family: Oxygen;
    text-align: left;
    margin: 0;
    padding: 0;
}
.CartAlert {
    text-align: center;
    font-family: Oxygen;
    background-color: #fff8cf;
    width: 50%;
    margin: 25px auto auto;
    border: 1px solid orange;
    padding: 25px 0;
    border-radius: 10px;
}
@keyframes slowOn {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}@keyframes SlowlyShowUp {
    from {
    opacity: 0%}
to {
    opacity: 100%}
}@keyframes SlowlyDropItems {
    from {
    margin-bottom: 50px;
}
to {
    margin-bottom: 0;
}
}@keyframes Slidetoright {
    from {
    width: 0;
}
to {
    width: 40%}
}@keyframes ShowLater {
    from {
    opacity: 0;
}
to {
    opacity: 100%}
}.magicbutton {
    padding-top: 30px;
    text-align: center;
    font-family: Oxygen;
    font-size: 24px;
    color: #456abe;
    cursor: pointer;
}
.custom-button, .title-clicable {
    font-family: Fira;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}
.magicbutton a {
    text-decoration: none;
    color: #456abe;
}
.custom-button {
    padding-bottom: 10px;
    background-color: #eb161e;
    padding-top: 10px;
    margin-bottom: 5px;
    color: #fff;
}
.title-clicable {
    font-size: 2vw;
    margin: 40px 0 10px;
    background-color: #e0e0e0;
    padding: 10px 0;
}
.title-clicable:hover {
    background-color: #b0b0b0;
}
.mobilemenu {
    display: none;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.basicMenu {
    background-color: #000;
    width: 100vw;
}
.TytaxPartMenu, .TytaxPartSkipper {
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
.basicMenu img {
    padding: 20px;
}
.TytaxPartSkipper {
    border-radius: 15px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}
.TytaxPartMenu a, .TytaxPartSkipper a {
    color: #242424;
    text-decoration: none;
}
.TytaxPartSkipper:hover {
    background-color: #f2f2f2;
}
.TytaxPartSkipper .small {
    font-family: Oxygen;
    color: #242424;
}
.TytaxPartMenu {
    border-radius: 15px;
    border: 1px solid #d1d1d1;
}
.TytaxPartMenu .title {
    font-family: Fira;
    font-size: 22px;
    margin: 0;
}
.TytaxPartMenu .select, .backtotop, ol {
    font-family: Oxygen;
}
.TytaxPartMenu .select {
    cursor: pointer;
}
.AllAboutTytaxContainer {
    margin: 20px auto auto;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.AllAboutTytaxContainer .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Oxygen;
    cursor: pointer;
}
.option_left .btn, .option_right .btn {
    font-family: Fira;
    padding: 20px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 15px;
    text-decoration: none;
}
.AllAboutTytaxContainer .item img {
    width: auto;
    height: 200px;
}
.option_left, .option_right {
    margin-top: 40px;
    display: flex;
    width: 100vw;
}
.option_left .text, .option_right .text {
    display: flex;
    width: 30%;
    flex-direction: column;
}
.option_left .spacer, .option_right .spacer {
    width: 20%}
.option_right .btn {
    background-color: #eb161e;
}
.option_left .btn:hover, .option_right .btn:hover {
    cursor: pointer;
    background-color: #9e2b2b;
}
.option_left .video, .option_right .video {
    flex-grow: 1;
    width: 30%;
    text-align: center;
    padding: 20px;
    align-self: center;
}
.option_left .btn {
    background-color: #d13838;
}
.numer_center {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.backtotop {
    background-color: #f1f1f1;
    border-radius: 15px;
    cursor: pointer;
}
.backtotop .text {
    color: #000;
    width: fit-content;
    padding: 10px 20px;
}
.backtotop .text:hover {
    color: #fff;
}
.backtotop:hover {
    background-color: #000;
    color: #fff;
}
.tytax_blogtype .button, .tytax_blogtype .item:hover {
    background-color: #d6d6d6;
    border-radius: 15px;
}
.options-carusel {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0;
}
.options-carusel .custom-button {
    padding: 20px;
    margin-left: 20px;
}
.tytax_blogtype {
    margin: 20px auto auto;
    display: flex;
    flex-direction: column;
    width: 60%}
.tytax_blogtype .item {
    display: flex;
    flex-direction: row;
    padding: 20px;
    cursor: pointer;
}
.AllAboutTytax_obj a, .pagination a, .tytax_blogtype a {
    text-decoration: none;
    color: #000;
}
.tytax_blogtype img {
    border-radius: 15px;
    height: auto;
    min-width: 335px;
}
.tytax_blogtype .textHold {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.buttonHold {
    display: flex;
    flex-direction: row;
}
.tytax_blogtype h2 {
    font-family: fira;
}
.tytax_blogtype h3 {
    font-family: Oxygen;
    font-size: 16px;
    color: #242424;
}
.tytax_blogtype .button {
    width: fit-content;
    padding: 10px;
    margin: 0;
}
.tytax_blogtype .button_empty {
    padding: 10px;
    font-family: Oxygen;
    color: #181818;
    margin-left: 10px;
}
.pagination {
    margin: 20px 0;
    display: flex;
}
.pagination .button {
    padding: 20px;
    width: fit-content;
    cursor: pointer;
}
.pagination .button:hover, .pagination .button_disable:hover {
    border-radius: 15px;
    background-color: #d4d4d4;
}
.pagination .button_disable {
    padding: 20px;
    width: fit-content;
    cursor: pointer;
    color: #919191;
    font-family: Fira;
}
.swiper {
    width: 100%;
    height: 100%}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img, .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactPop {
    z-index: 9999;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 0 0 #e06c6c;
    transform: scale(1);
    animation: 2s infinite pulse;
    border-radius: 50%}
@keyframes pulse {
    0% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(230, 78, 78, .7);
}
70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px transparent;
}
100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 transparent;
}
}.contactdouble_basic {
    display: flex;
    margin: 40px 40px 0;
}
.AllAboutTytax_obj {
    background-color: #f7f7f7;
    border-radius: 15px;
    width: 50%;
    margin: 20px auto auto;
    padding: 20px;
}
.AllAboutTytax_obj .subButton img, .arrowsvg {
    width: 32px;
    height: 32px;
    background-color: #eb161e;
    border-radius: 50%}
.AllAboutTytax_obj h2 {
    font-family: Fira;
    font-size: 20px;
    margin: 0;
    cursor: default;
    text-align: left;
}
.AllAboutTytax_obj p {
    font-family: Oxygen;
    font-size: 16px;
    margin: 0;
    cursor: default;
    text-align: left;
    padding: 0;
}
.AllAboutTytax_obj img {
    padding: 20px;
    cursor: pointer;
}
.AllAboutTytax_obj .module {
    display: flex;
    align-items: center;
}
.AllAboutTytax_obj .photo {
    max-width: 219px;
    max-height: 130px;
    min-width: 219px;
    min-height: 130px;
    border-radius: 35px;
}
.AllAboutTytax_obj .module2 {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px;
}
.AllAboutTytax_obj .module2 a {
    font-family: Fira;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    padding-top: 20px;
}
.AllAboutTytax_obj .subButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}
.AllAboutTytax_obj .subButton img {
    padding: 0;
}
.AllAboutTytax_obj .subButton h1 {
    font-family: Fira;
    font-size: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.AllAboutTytax_obj .sub {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.sub .sub_rest {
    display: flex;
    flex-direction: column;
}
.AllAboutTytax_obj .sub a {
    padding-left: 35px;
}